<md-toolbar>
    <md-toolbar-row layout="row" layout-padding>

        <md-button aria-label="Disque Saúde"
                   class="toolbar-menu-button"
                   ui-sref="inicio"
                   layout-align="center center">
            <span>Início</span>
        </md-button>

        <md-button class="toolbar-menu-button"
                   ng-if="usuarioEstaLogado()"
                   ui-sref="prefeitura"
                   aria-label="Menu da Prefeitura">
            Prefeitura
        </md-button>

        <md-menu md-offset="0 59">
            <md-button class="toolbar-menu-button" ng-click="$mdMenu.open($event)" aria-label="Menu da Vigilância Sanitária">
                Vigilância Sanitária
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ui-sref="queixa.registrar" aria-label="Registrar queixa">
                        Registrar queixa
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="queixa.buscar" aria-label="Buscar queixa">
                        Buscar queixa
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu md-offset="0 59">
            <md-button class="toolbar-menu-button" ng-click="$mdMenu.open($event)" aria-label="Menu das Unidades de Saúde">
                Unidades de Saúde
            </md-button>
            <md-menu-content>
                <md-menu-item ng-if="usuarioEstaLogado()">
                    <md-button ui-sref="unidadesaude.inserir"
                               aria-label="Inserir unidade">
                        Inserir unidade
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="unidadesaude.buscar" aria-label="Encontrar unidades">
                        Encontrar unidades
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <span flex></span>

        <md-button class="toolbar-button"
                   ng-click="sair()"
                   ng-if="usuarioEstaLogado()"
                   aria-label="Sair">
            Sair
        </md-button>
        <md-button class="toolbar-button"
                   ng-click="mostraDialogDeLogin()"
                   ng-if="!usuarioEstaLogado()"
                   aria-label="Entrar">
            Entrar
        </md-button>
    </md-toolbar-row>
</md-toolbar>