<md-content layout-padding layout-fill layout-align="center center" layout="column">

    <form layout-fill layout-align="center center" layout="column">
        <div style="width: 45%" layout="column">
            <md-input-container>
                <label>Tipo</label>
                <md-select ng-model="unidadeVisCtrl.unidade.tipo"
                           ng-disabled="!unidadeVisCtrl.isCriacao">
                    <md-option value="hospital">Hospital</md-option>
                    <md-option value="postoSaude">Posto de Saúde</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <input placeholder="Nome"
                       ng-model="unidadeVisCtrl.unidade.descricao"
                       ng-disabled="!unidadeVisCtrl.isCriacao"/>
            </md-input-container>

            <div layout="row" layout-align="space-between center">
                <md-input-container>
                    <input placeholder="Rua"
                           ng-model="unidadeVisCtrl.unidade.endereco.rua"
                           ng-disabled="!unidadeVisCtrl.isCriacao"/>
                </md-input-container>

                <md-input-container>
                    <input placeholder="Bairro"
                           ng-model="unidadeVisCtrl.unidade.endereco.bairro"
                           ng-disabled="!unidadeVisCtrl.isCriacao"/>
                </md-input-container>
            </div>

            <md-input-container>
                <input placeholder="Especialidades"
                       ng-model="unidadeVisCtrl.unidade.especialidades"
                       ng-disabled="!unidadeVisCtrl.isCriacao"
                       ng-list/>
            </md-input-container>

            <div layout="row" layout-align="space-between center">
                <md-input-container>
                    <input placeholder="Quantidade de médicos"
                           ng-model="unidadeVisCtrl.unidade.quantidadeMedicos"
                           type="number"
                           min="1"
                           ng-disabled="!unidadeVisCtrl.isCriacao"/>
                </md-input-container>

                <div flex="50" layout="column">
                    <md-input-container ng-if="unidadeVisCtrl.unidade.tipo === 'hospital'" flex="100">
                        <input placeholder="Número de pacientes por dia"
                               ng-model="unidadeVisCtrl.unidade.taxaPacientesPorDia"
                               type="number"
                               step="0.01"
                               min="0"
                               ng-disabled="!unidadeVisCtrl.isCriacao"/>
                    </md-input-container>

                    <md-input-container ng-if="unidadeVisCtrl.unidade.tipo === 'postoSaude'" flex="100">
                        <input placeholder="Taxa diária de atendimentos"
                               ng-model="unidadeVisCtrl.unidade.taxaPacientesPorDia"
                               type="number"
                               step="any"
                               min="0"
                               ng-disabled="!unidadeVisCtrl.isCriacao"/>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div ng-if="!unidadeVisCtrl.isCriacao">
            <md-button ng-click="unidadeVisCtrl.consultarMedia()">
                Consultar média de médico por paciente
            </md-button>
        </div>

        <div ng-if="unidadeVisCtrl.isCriacao">
            <md-button class="md-primary"
                       ng-click="unidadeVisCtrl.salvaUnidade()">
                Salvar
            </md-button>
        </div>
    </form>

</md-content>