.toolbar-button {
    text-align: center;
    max-height: 50px;
    max-width: 100px;
    margin: 0;
}

.toolbar-menu-button {
    text-align: center;
    height: 50px;
    margin: 0;
}

.md-toolbar {
    height: 50px;
}